
html
{
    background-color:#508991;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body
{
    background-color: #74B3ce;
    color:#004346;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 90%;
}

main
{
    padding-left: 50px;
    padding-right: 50px;
}

header, footer
{
    background-color: #74B3CE; 
    font-family: Tahoma;
    padding: 10px;
    text-align:center;
}

nav{
    color: #004346;  
    letter-spacing: 5px;
    padding: 10px;
}

nav, a
{
    text-decoration:none;
    color: #004346;
}

a:hover{ color:aqua}

figure
{
    margin:auto;
    text-align:center;
}

figcaption
{
    color:midnightblue;
    font-style:italic;
}

h1
{
    text-align: center ;
    font-size:250%;
    color:midnightblue;
}

h2, h3
{
    text-align:center;
}

table{
    background-color: lightgray;
    font-family: Arial;
    padding: 4px 10px 4px 10px;
    width: 33%;
}

table, th, tr, td
{
    border: black solid 2px;
    border-collapse: collapse;
    padding: 10px;
    text-align:center;
}

dt{
    font-weight: bold;
}

ul
{
    font-family: Georgia;
    text-align:justify;
}

#blue
{
    background-color: blue;
}

#menu
{
    border: 1px;
    padding: 6px 30px 6px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #B7CCD1;
}

#red
{
    background-color: red;
}

#title
{
    border: 2px black solid;
    text-align: center;
}

#yellow
{
    background-color: yellow;
}
