<header>
    <h1 id="headtitle">Richy Phongsavath's Rich Pandas | CP-CO-01</h1>
	<nav>
		<a href="https://rphongsavath.gitlab.io/richycpcc-github-io/index.html">Home</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/introduction.html">Introduction</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/contract.html">Contract</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/about_us.html">Team</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/Template.html">Template</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/fizzbang.html">FizzBuzz</a>
		 ~ <a href="https://rphongsavath.gitlab.io/richycpcc-github-io/assignments.html">Assignments</a>
	</nav>
</header>
